.dropdown{
    .dropdown-toggle{
        width: 150px;
        text-align: left;
        .caret{
             float: right;
            vertical-align: middle;
            top: 10px;
            position: relative;


        }
    }
}